<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Mask</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/i.css">
    <link rel="shortcut icon" href="imgs/LOGO.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="center" align="center">
        <img src="static/imgs/LOGO.png" class="rotatedImg">
        <p class="AlbumsP" style="background-color: rgb(255, 255, 255); max-width: 300px; font-size: 20px;">New post</p>
        <a href="/">Back</a>

        <div class="createPost" style="background-color: gray; height: 350px;">
            <form action="/createPost" method="post">
                <label for="pass">Password</label>
                <input type="password" name="pass" id="pass">
                <br>
                <label for="dontforget">Don't forget me</label>
                <input type="checkbox" name="dontforget" id="dontforget">
                <br>
                <br>
                <label for="article">Article</label>
                <input type="text" name="article" id="article">
                <br>
                <label for="content">Content</label>
                <textarea name="content" id="content" style="resize: none; width: 300px; height: 200px;"></textarea>
                <br>
                <button class="submitButton">Submit</button>
            </form>
        </div>

        <div class="footer" style="background-color: rgba(255, 255, 255, 0.85);">
            <img src="static/imgs/dh2.png" width="100px" class="rotatedImg2" style="animation: an1 infinite 2.5s linear;"> <br>
            <div class="allLinks">
                <a href="https://t.me/bloodmvsk" target="_blank">Telegram</a> <br>
                <a href="https://www.youtube.com/channel/UCrJQedN_myEvZrmqUjmzncw" target="_blank">Youtube</a> <br>
                <a href="https://open.spotify.com/artist/7vlOwDhMCcIbXNz3g9XR1W?si=Y18Hn6BoRy-5pEGGHoEhjg" target="_blank">Spotify</a> <br>
                <a href="https://on.soundcloud.com/qgifRcZwBJzgjphx7" target="_blank">SoundCloud</a>
            </div>
            ostap7534@gmail.com <br>
            <i>blood-mask.github.io</i> <br>
        </div>
    </div>
    <script>
        async function read(src) {
            let response = await fetch(src)
        
            if(response.ok){
                let db = await response.json()
                db.forEach(element => {
                    $(".res").append(`<p>${element.username}</p>`)
                })
            }
        }
        $(".submitButton").click(() => {
            if(document.getElementById("dontforget").checked == true && document.getElementById("pass").value == "16082010"){
                localStorage.setItem('dontforget', true)
            }
        })
        </script>
</body>
</html>