<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Mask</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/i.css">
    <link rel="shortcut icon" href="static/imgs/LOGO.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="center" align="center">
        <a class="newPost" href="/newPost">New post</a>
        <br clear="All">
        <img src="static/imgs/LOGO.png" class="rotatedImg">
        <p class="AlbumsP" style="background-color: rgb(255, 255, 255); max-width: 300px; font-size: 20px;">Posts</p>
        <div class="res"></div>
        <div class="footer" style="background-color: rgba(255, 255, 255, 0.85);">
            <img src="static/imgs/dh2.png" width="100px" class="rotatedImg2" style="animation: an1 infinite 2.5s linear;"> <br>
            <div class="allLinks">
                <a href="https://t.me/bloodmvsk" target="_blank">Telegram</a> <br>
                <a href="https://www.youtube.com/channel/UCrJQedN_myEvZrmqUjmzncw" target="_blank">Youtube</a> <br>
                <a href="https://open.spotify.com/artist/7vlOwDhMCcIbXNz3g9XR1W?si=Y18Hn6BoRy-5pEGGHoEhjg" target="_blank">Spotify</a> <br>
                <a href="https://on.soundcloud.com/qgifRcZwBJzgjphx7" target="_blank">SoundCloud</a>
            </div>
            ostap7534@gmail.com <br>
            <i>blood-mask.github.io</i> <br>
        </div>
    </div>
    <script>
        async function read(src) {
            let response = await fetch(src)
        
            if(response.ok){
                let db = await response.json()
                db.posts.forEach(element => {
                    $(".res").append(`<div class="post" id="post_${element.id}"> 
                        <p class="postArticle">${element.article}</p> <br>
                        <hr height="2px" color="black">
                        <p class="postContent">${element.content}</p> <br>
                    </div>`)
                    $(`#post_${element.id}`).click(() => {
                        location.href = `/post/${element.id}`
                    })
                })
            }
        }
        read('static/info.json')
        </script>
</body>
</html>