<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Mask</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/imgs/LOGO.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/i.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="center" align="center">
        <a href="/" style="background-color: white; padding: 5px; color: black;">Back</a>
        <div class="res">
            <div class="post2"> 
                <p class="postArticle"><%= post.article %></p> <br>
                <hr height="2px" color="black">
                <p class="postContent"><%= post.content %>></p> <br>
                <button class="comment" style="float: left;">Comment</button>
                <br>
                <br>
                <div class="commentForm" id="commentForm" style="display:  none;">
                    <form action="/writeComment" method="post">
                        <input type="hidden" name="postId" style="font-size: 1px;" id="postId" value=<%= post.id %>> <br>
                        <label for="cUsername">Username</label>
                        <input type="text" name="cUsername" id="cUsername" maxlength="20">
                        <br>
                        <label for="cContent">Your comment:</label>
                        <textarea name="cContent" id="cContent" maxlength="150" style="resize: none; width: 200px; height: 100px;"></textarea>
                        <br>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="comments">

            </div>
        </div>
    </div>
    <script>
async function read(src) {
            let response = await fetch(src)
        
            if(response.ok){
                let db = await response.json()
                let postId = parseInt($("#postId").val())
                let post = db.posts.find(p => p.id === postId)
                post.comments.forEach(element => {
                    $(".comments").append(`<div class="comm">
                            <p class="username">${element.username}</p> <br>
                            <p class="content">${element.content}</p>
                            <p class="date">${element.date}</p>
                        </div>`)  
                })
            }
        }
read('/static/info.json')
$(".comment").click(() => {
    if(document.getElementById("commentForm").style.display == "none"){
        document.getElementById("commentForm").style.display = "block"
    }else{
        document.getElementById("commentForm").style.display = "none"
    }
})

    </script>
</body>
</html>